<!-- @include intro -->

<a href="/">
  Back to list
</a>

<div data-scope="tweet" class="margin-t">
  <img data-prop="avatar" src="http://placehold.it/50x50" class="float-l margin-r">

  <h4 data-prop="user">
    User's Name
  </h4>

  <p data-prop="text">
    Tweet text goes here
  </p>

  <p>
    Retweeted <span data-prop="retweet_count">n</span> times;
    Favorited <span data-prop="retweet_count">n</span> times;
    <a data-prop="twitter_link" href="#">
      View on twitter
    </a>
  </p>
</div>
